<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roulette_wheel.name %>
</p>

<%= link_to 'Edit', edit_roulette_wheel_path(@roulette_wheel) %> |
<%= link_to 'Back', roulette_wheels_path %>
